{{>header}}
    {{>nav}}
    <section class="container bg-light text-dark text-center w-50 mx-auto p-4 my-4">
        <h2> Create New Todo </h2>
    </section>
    <section class="my-5 text-center p-5 container
        w-50 mx-auto">
        <form action="/addLogic">
            <div class="form-group my-3">
                <label for="title">Todo Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Todo Title" required>
            </div>
            <div class="form-group my-3">
                <label for="description">Todo Content</label>
                <input type="text" id="title" name="content" class="form-control" placeholder="Todo Content" required>
            </div>
            <input type="submit" value="Add Todo" class="btn btn-outline-primary">
        </form>
    </section>
{{>footer}}